
body{
    background-color: #05001B;
}

h6{
    font-size: 24px;
    font-weight:lighter;
    color: #ffffff;
    text-align: center;
    padding-top: 78px;
}



.partner{
    width: 100%;
    /* background-color: #05001B; */
    background: linear-gradient(to bottom, #3C4043, #00000000);
    
    /* background-color: linear-gradient(to right,#9747FF, #000000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    height: 275px;
    margin-top: 200px;
    /* color: transparent; */
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid #F7A1FF;
}

.part{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

