.desc{
    color: rgb(228, 228, 228);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    font-size: 32px;
    line-height: 140%;
    font-weight:lighter;
    
}
.title{
    font-size: 64px;
}
.subtitle{
    text-align: center;
    position: relative;
    margin-top: 10rem;
}