*{
    padding: 0;
    margin: 0;
    z-index: 1;
    position: relative;

    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 50px; */
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #08052B;
    color: #ffffff;
    align-items: center;
    
}

.nav-items{
    display: flex;
    /* justify-content: space-between; */
    list-style: none;

}

.nav-item{
    margin-right: 16px;
}