*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    z-index: 1;
    padding-top: 1rem;

    
}

.logo{
    padding-left: 1rem;
}

.nav-items{
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    
}

.nav-item{
    margin-right: 16px;
    color: #F9B8FF;
    font-size: 21.5px;
    font-weight:normal;
    padding-right: 3rem;
    opacity: 80%;
    text-decoration: none;
}

.nav-item:hover{
    opacity: 100%;
    color: #F9B8FF;
    font-weight: bold;
}